body {
  overflow-x: hidden;
}

.home-start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.home-start-screen-header {
  font-size: 90pt;
  letter-spacing: 10px;
  font-weight: bold;
  z-index: 99;
  background-color: transparent;
}

.home-start-screen-coin-fast {
  position: absolute;
  top: 30%;
  left: 20%;
  animation: coin 2s infinite;
  background-color: transparent;
  z-index: 99;
}

.home-start-screen-coin-fast-second {
  position: absolute;
  top: 50%;
  left: 70%;
  animation: coin 3s infinite;
  z-index: 99;
  background-color: transparent;
}

.home-start-screen-coin-slow {
  position: absolute;
  top: 70%;
  left: 40%;
  animation: coin 4s infinite;
  z-index: 99;
  background-color: transparent;
}

.home-start-screen-coin-slow-second {
  position: absolute;
  top: 20%;
  left: 50%;
  animation: coin 6s infinite;
  background-color: transparent;
  z-index: 99;
}

.home-start-screen-coin-details-small {
  z-index: 99;
  background-color: transparent;
  width: 35px;
}

@keyframes coin {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

.home-start-screen-coin-details {
  z-index: 99;
  width: 50px;
  background-color: transparent;
}

.coins-display {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coin-container {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  background-color: #001220;
  height: 100px;
}

.coin-container-odd {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  background-color: #022139;
  height: 100px;
}

.coin-info-odd {
  width: 100%;
  background-color: #022139;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}

.coin-info {
  width: 100%;
  text-align: center;
  background-color: #001220;
  font-size: 15pt;
  font-weight: bold;
}

.coin-element {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-element:first-child {
  justify-content: flex-start;
}

.coin-element:last-child {
  justify-content: flex-end;
}

.svg-element {
  bottom: 0;
  position: absolute;
}

.svg-element-top {
  position: absolute;
}

.blob-element {
  width: 550px;
  height: 350px;
  border-radius: 25%;
  background-color: #fa7268;
  position: absolute;
  z-index: 12;
  box-shadow: 10px 10px 10px rgba(130, 84, 79, 0.4);
  animation: liquid 10s linear infinite alternate;
  transition: 2s;
}

.blob-element:hover {
  width: 630px;
  transition: 2s;
}

@keyframes liquid {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.home-start-screen-button {
  width: 200px;
  height: 50px;
  font-size: 24pt;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}

.home-start-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  background-color: transparent;
}

.home-start-screen-paragraph {
  background-color: transparent;
  font-size: 15pt;
  padding: 10px;
  width: 500px;
  text-align: center;
}

.svg-wrapper {
  overflow-x: hidden;
}

.green {
  color: green;
  background-color: transparent;
}

.red {
  color: red;
  background-color: transparent;
}

.coins-display-header {
  width: 80vw;
  background-color: #fa7268;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.coins-display-header-input {
  width: 350px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  color: black;
  height: 50px;
}

.coins-display-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.coins-display-select {
  color: black;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  margin-left: 10px;
}

.coins-display-select-option {
  color: black;
}

.coins-display-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coins-display-description-wrapper {
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001220;
}

.coins-display-top-wrapper {
  display: flex;
  height: 80px;
  filter: drop-shadow(0 -3mm 7mm rgba(255, 255, 255, 0.2));
}

.coins-display-description-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15pt;
  font-weight: bold;
  background-color: #001220;
}

.coins-display-description-header:first-child {
  justify-content: flex-start;
}

.coin-icon {
  width: 50px;
}

.coin-link {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
}

/* Community Section Styling */
.community-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-header {
  font-size: 42pt;
  font-weight: bold;
}

.community-wrapper {
  display: flex;
  flex-direction: column;
}

.community-image-props {
  width: 500px;
}

.community-top-section {
  display: flex;
  flex-direction: column;
}

.community-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-bottom-image-props {
  width: 130px;
}

.community-bottom-section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  background-color: #001220;
  border: 2px solid white;
  cursor: pointer;
}

.community-top-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-top-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-top-element {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  justify-content: center;
}

.community-top-element-text {
  display: flex;
  align-items: center;
  font-size: 15pt;
  font-weight: bold;
  margin-top: 40px;
}

.contact-container {
  height: 80vh;
  position: relative;
  width: 100%;
}

.contact-svg {
  position: absolute;
}

.contact-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-display {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-input {
  width: 400px;
  height: 50px;
  margin: 15px;
  padding: 10px;
  font-size: 14pt;
  border: none;
  border-radius: 3px;
  color: black;
}

.contact-textarea {
  width: 400px;
  height: 150px;
  margin: 15px;
  padding: 10px;
  font-size: 14pt;
  border: none;
  border-radius: 3px;
  color: black;
}

.contact-submit-button {
  width: 400px;
  border: 2px solid white;
  border-radius: 3px;
  background-color: #001220;
  color: white;
  font-size: 14pt;
  cursor: pointer;
}

.contact-header {
  text-align: center;
  font-size: 37pt;
}

.chart-section {
  width: 600px;
  text-align: center;
  margin-bottom: 100px;
}

.chart-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-header {
  font-size: 30pt;
  font-weight: bold;
  text-shadow: #989898 1px 0 5px;
}

.chart-header-color {
  color: #fa7268;
}

.chart-small-header {
  color: gray;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 1100px) {
  .community-top-element {
    width: 100%;
  }
  .community-top-element-text {
    font-size: 13pt;
  }
}

@media screen and (max-width: 630px) {
  .home-start-screen-header {
    font-size: 40pt;
  }

  .coins-display-description-header {
    font-size: 13pt;
  }

  .home-start-screen-paragraph {
    width: 100%;
  }

  .chart-section {
    width: 400px;
  }

  .coins-display-header {
    width: 100%;
  }

  .coins-display-header-input {
    width: 250px;
  }

  .coins-display-description-wrapper {
    width: 100%;
  }

  .coin-container {
    width: 100%;
  }

  .coin-container-odd {
    width: 100%;
  }
  .coin-info {
    font-size: 12pt;
  }

  .coin-icon {
    width: 35px;
  }
  .coin-info-odd {
    font-size: 12pt;
  }

  .community-header {
    font-size: 30pt;
    margin-bottom: 20px;
  }

  .community-image-props {
    width: 300px;
  }

  .community-top-element-text {
    font-size: 12pt;
  }
  .community-top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .community-top-section {
    width: 100%;
  }
  .community-top-element {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .community-top-element-text {
    margin: 0px 5px;
    font-size: 10pt;
    flex: 1;
  }
  .community-bottom-section {
    margin-top: 20px;
  }

  .community-bottom-image-props {
    width: 100px;
  }

  .footer-section {
    margin-top: 50px;
  }
}
